.home {
	height: 45rem;
	border-radius: .5rem;
	gap: 1.5rem;
	margin: 12rem 4rem 0rem 4rem;
	background-color: var(--bg-color-1);
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR10c-OCKoR1DQ2JyYdUsvNCr7YbRac35eB9g&usqp=CAU);

}

.content{
	background-color:var(--bg-color-1);
	padding: 2rem;
	border: .1rem solid black;
	border-radius: 2rem;
	width: 50%;
	margin-top: 20rem;
}
.home .content h3 {
	font-size: 4rem;
}
